# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/incidentlog"
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/incidentlog"

AUTH_SECRET=
AUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true

ADMIN_EMAIL=
ADMIN_PASSWORD=